autopep8==2.3.1
coverage==7.6.1
flake8==7.1.1
flake8-annotations==3.1.1
flake8-mypy==17.8.0
mypy==1.11.1
mypy-extensions==1.0.0
pycodestyle==2.12.1
pyflakes==3.2.0
pytest==8.3.2
pytest-cov==5.0.0
python-dateutil==2.9.0.post0
python-whois==0.9.4
